.list-item {
  width: 100%;
}

.location-list {
  padding: 3rem 6rem 5rem 6rem;
  overflow: hidden;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.layout-box {
  display: flex;
  justify-content: space-between;
}

.location-flex {
  display: flex;
  gap: 1rem;
}


.location-list a,
.location-list h1 {
  font-size: 32px;
  line-height: 60px;
  color: #183153;
  letter-spacing: -1.2px;
}

.location-list h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 35px;
  font-weight: 600;
}

.location-list li {
  list-style-type: none;
}

.location-list a:hover {
  text-decoration: none;
}


.location-list-item {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #DCE0E0;
  cursor: pointer;
}


.location-list-item h3 {
  font-size: 20px;
  font-weight: 500;
}

.location-list-item p {
  font-size: 18px;
  color: #7c7c7c;
  line-height: 20px;
  font-weight: 300;
}

.location-list-item img {
  width: 6rem;
  border-radius: 1rem;
}

.location-list-controls .fa-menu {
  border: 1px solid #DCE0E0;
  border-radius: 3px;
  padding: 1px;
  font-size: 16px;
  line-height: 24px;
  color: #183153;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.location-list-controls .fa-menu:hover {
  border: 2px solid #25CAAC;
  color: #25CAAC;
}

.hovered {
  background-color: #f8f8f8;
}