* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;


}

*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  border: none;
}

.app-container {
  width: 100%;

}

html {
  font-size: 62.5%;
  /* (62.5/100) * 16px = 10px */
}

img {
  display: block;
  max-width: 100%;
}

button:focus {
  outline: none;
}

menu,
ol,
ul {
  padding-left: 0;
}


article ol,
article ul {
  list-style-position: inside;
}


label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
  cursor: pointer;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

h3 {
  font-size: 20px;
  font-weight: 500;
}


p {
  font-size: 16px;
  color: #777;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
}


@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}