
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  

}

*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
  border: none;
}

.app-container {
  width: 100%;

}

html {
  font-size: 62.5%; /* (62.5/100) * 16px = 10px */
}

img {
  display: block;
  max-width: 100%;
}

button:focus {
  outline: none;
}

menu,
ol,
ul {
    padding-left: 0;
}


article ol,
article ul {
    list-style-position: inside;
}


label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
  html {
        scroll-behavior: smooth;
  }
}
